// VARS

$blue: rgb(131, 131, 175);



* {
    box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    padding: 1rem;
}

.payments_page {
    margin:  auto;

}


.background {
    
    display: flex;
    justify-content: space-between;
    width: 40rem;
    height: 30rem;
	background-color: white;
    
    border-radius: 0.5rem;
	box-shadow: 0px 0px 27px 0px rgba(168,168,168,0.3);



}


.form {

    flex-basis: 50%;
    
    

    


}

.empty {

    width: 50%;
    



}

.card {
    width: 25rem;
    height: 21rem;
    background-color: $blue;
    box-shadow: 0px 3px 38px 5px rgba(0,0,0,0.51);
    border-radius: 1em;
    padding: 1.5em;

    position: relative;
    bottom: 25rem;
    left: 55%;

    display: grid;
    grid-template-columns: 50% 50%;

    .form_field {

        padding: 1em;

        &.full {
            grid-column: 1 / span 2;

            .input {
                width: 100%;
            }
        }

        input {
            width: 80%;
        }
    }
}

